 /* ESTILO GERAL */

 *{
    margin: 20;
    padding: 20;
    box-sizing: border-box; 
       font-family: monospace;
    }
    
    body{
        background-color:#000 ;
        height: 100vh;
        color:aliceblue;
    }


    ul{
      display: list-item;
      margin: 0 10px;  
      font-size: 24px;
      text-decoration: none;
      color: aliceblue;
      }

      img {
         text-align: center;
         width: 150px;
         padding: 10px;
      }

      .categoria-videos {
         display: flex;
         overflow-x: auto;
         gap: 20px;
         }
         
         .categoria-videos img {
         opacity: 0.5;
         height: 100px;
         }
         
         .categoria-videos img:hover {
         opacity: 1.0;
         border: 3px solid greenyellow;
         }